body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* Agregar imagen de fondo */
    background-image: url('imagenes/fondo.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
}

.ruleta {
    text-align: center;
}

.contenedor {
    position: relative;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, #20c5ee, #20dae7); /* Cambiar margen a negro */
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); /* Ajustar el tamaño y la intensidad de la sombra */
    overflow: hidden;
}

.flecha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 100px;
    background: #000000;
    z-index: 1;
}

.ruleta-indicador {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    background: rgb(255, 244, 244);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sectores {
    position: absolute;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    transform-origin: 50% 50%;
}

.sector {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
